<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Day-Night Simulation</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/loginPageStyles.css}" />
</head>

<body>

    <div id="fullpage">
        <div class="section">
            <div class="section-left">
                <div class="time-circle">
                    <div class="sun"></div>
                    <div class="moon">
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                    <div class="stars">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                    <div class="water"></div>
                </div>
                <div id="intro-text">
                    <h1 href="#">day night simulation</h1>
                </div>
                <div id="switch">
                    <div id="circle"></div>
                </div>
            </div>
            <div class="section-right">
                <div class="col-md-6 col-sm-10 custom-form">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="text-center">Login</h4>
                        </div>
                        <div class="card-body">
                            <form th:action="@{/login}" method="post">
                                <div class="form-group">
                                    <label for="username">Username:</label>
                                    <input type="text" class="form-control" id="username" name="username" required>
                                </div>
                                <div class="form-group">
                                    <label for="password">Password:</label>
                                    <input type="password" class="form-control" id="password" name="password" required>
                                </div>
                                <button type="submit" class="btn btn-primary btn-block">Login</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
        <div id="overlay-form">
                <div class=" custom-form">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="text-center">Login</h4>
                        </div>
                        <div class="card-body">
                            <form th:action="@{/login}" method="post">
                                <div class="form-group">
                                    <label for="username">Username:</label>
                                    <input type="text" class="form-control" id="username" name="username" required>
                                </div>
                                <div class="form-group">
                                    <label for="password">Password:</label>
                                    <input type="password" class="form-control" id="password" name="password" required>
                                </div>
                                <button type="submit" class="btn btn-primary btn-block">Login</button>
                            </form>
                        </div>
                    </div>
                </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $("#switch").click(function () {
            if ($("#fullpage").hasClass("night")) {
                $("#fullpage").removeClass("night");
                $("#switch").removeClass("switched");
            }
            else {
                $("#fullpage").addClass("night");
                $("#switch").addClass("switched");

            }
        });
    </script>

</body>


</html>