<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ABC Tech - Giới thiệu</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/introductionPageStyles.css}" />
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">ABC Tech</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Trang chủ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Dịch vụ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Về chúng tôi</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Liên hệ</a>
                </li>
            </ul>
        </div>
    </nav>

    <header class="jumbotron">
        <div class="container">
            <h1 class="display-4">Chào mừng bạn đến với ABC Tech</h1>
            <p class="lead">Chúng tôi là một công ty công nghệ hàng đầu với đội ngũ lập trình viên front end hàng đầu
                Châu Âu.</p>
            <a class="btn btn-primary btn-lg" href="#" role="button" style="background-color: #cc6600">Tìm hiểu thêm</a>
        </div>
    </header>

    <div class="container">
        <h2>Về chúng tôi</h2>
        <p>ABC Tech là một công ty công nghệ đa dạng với sứ mệnh cung cấp các giải pháp công nghệ tiên tiến cho khách
            hàng trên toàn thế giới.</p>
        <p>Với một đội ngũ chuyên gia lập trình viên bị thiểu năng, chúng tôi cam kết mang lại những sản phẩm và
            dịch vụ chất lượng như đb cho khách hàng.</p>
    </div>

    <footer class="footer">
        <div class="container">
            <span class="text-muted">© 2024 ABC Tech. All rights reserved.</span>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>